{% extends 'store/base.html' %}

{% block title %}{{ category.name }}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb" class="bg-light py-3 mb-4">
    <div class="container">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{% url 'storeHome' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
        </ol>
    </div>
</nav>
{% endblock %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">{{ category.name }}</h1>
        </div>
    </div>
</header>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row mb-4">
            <div class="col text-right">
                <form method="get" id="sortForm">
                    <select name="sort" class="form-select" onchange="document.getElementById('sortForm').submit()">
                        <option value="default" {% if sort_option == 'default' %}selected{% endif %}>Sort By</option>
                        <option value="price_low_to_high" {% if sort_option == 'price_low_to_high' %}selected{% endif %}>Price: Low to High</option>
                        <option value="price_high_to_low" {% if sort_option == 'price_high_to_low' %}selected{% endif %}>Price: High to Low</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in products %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top" src="{{ product.image_url }}" alt="{{ product.name }}">
                        </a>
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{ product.name }}</h5>
                                <div class="text-muted">${{ product.price }}</div>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="{% url 'product_detail' product.id %}">View details</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
