<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'storeHome' %}">Almari</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'storeHome' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                {% if request.session.logged_in %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'customer_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="loginDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Login</a>
                    <ul class="dropdown-menu" aria-labelledby="loginDropdown">
                        <li><a class="dropdown-item" href="{% url 'customer_login' %}">Customer Login</a></li>
                        <li><a class="dropdown-item" href="#">Seller Login</a></li>
                        <li><a class="dropdown-item" href="{% url 'admin_login' %}">Admin Login</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="signupDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sign Up</a>
                    <ul class="dropdown-menu" aria-labelledby="signupDropdown">
                        <li><a class="dropdown-item" href="{% url 'customer_signup' %}">Customer Sign Up</a></li>
                        <li><a class="dropdown-item" href="#">Seller Sign Up</a></li>
                    </ul>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Categories</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        {% for category in categories %}
                            <li><a class="dropdown-item" href="{% url 'category_detail' category.model_instance.id %}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <!-- Search form -->
            <form class="d-flex ms-auto my-2 my-lg-0" action="{% url 'search' %}" method="get">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn btn-outline-dark me-2" type="submit">Search</button>
            </form>
            <!-- Cart button -->
            <a href="{%url 'cart_summary'%}" class="btn btn-outline-dark d-block d-md-inline-block">
                <i class="bi-cart-fill me-1"></i>
                Cart
                <span class="badge bg-dark text-white ms-1 rounded-pill">{{cart_length}}</span>
            </a>
                    
        </div>
    </div>
</nav>