{% extends 'store/base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb" class="bg-light py-3 mb-4">
    <div class="container">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{% url 'storeHome' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'category_detail' product.category.model_instance.id %}">{{ product.category.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
        </ol>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <section class="py-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="img-fluid mb-5 mb-md-0" src="{{ product.image_url }}" alt="{{ product.name }}">
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <div class="fs-5 mb-5">
                    <span>${{ product.price }}</span>
                </div>
                <p class="lead">{{ product.description }}</p>
                {% if available_quantity == 0 %}
                    <p class="text-danger">Out of Stock</p>
                {% else %}
                    {%if request.session.logged_in %}
                        <p class="text-muted">Available Quantity: {{ available_quantity }}</p>
                    {% endif %}    
                    <form method="POST" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="d-flex mb-4">
                            <input class="form-control text-center me-3" id="inputQuantity" name="quantity" type="number" value="1" min="1" max="{{ available_quantity }}" style="max-width: 5rem;">
                            <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                <i class="fas fa-cart-plus me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>

        <hr class="my-5">

        <!-- Related Products Section -->
        <div class="row mt-5">
            <h3 class="text-center mb-4">Related Products</h3>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for related_product in related_products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" src="{{ related_product.image_url }}" alt="{{ related_product.name }}">
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{ related_product.name }}</h5>
                                    <p>${{ related_product.price }}</p>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" href="{% url 'product_detail' related_product.id %}">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
