{% extends 'store/base.html' %}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Almari</p>
                </div>
            </div>
        </header>
        <!-- Categories Section -->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="text-center mb-4">Categories</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for category in categories %}
                        <div class="col mb-5">
                            <a href="{% url 'category_detail' category.model_instance.id %}">
                                <div class="card h-100">
                                    <img class="card-img-top" src="{{ category.image_url }}" alt="{{ category.name }}" />
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <h5 class="fw-bolder">{{ category.name }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Products Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="text-center mb-4">Latest Products</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for product in products %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ product.image_url }}" alt="{{ product.name }}" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ product.name }}</h5>
                                        <!-- Product price-->
                                        ${{ product.price }}
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
{% endblock %}
