{% extends 'store/base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shipping Info</h1>
            <p class="lead fw-normal text-white-50 mb-0">Please enter shipping details...</details>...</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <form method="POST" action="{% url 'shipping_info' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        {%if already_info%}
                            <input type="text" class="form-control" name="shipping_full_name" placeholder="Full Name"
                                value="{{ already_info.shipping_full_name|default_if_none:'' }}" required>
                        {%else%}
                            <input type="text" class="form-control" name="shipping_full_name" placeholder="Full Name"
                                value="{{ shipping_full_name|default_if_none:'' }}" required>
                        {%endif%}        
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" name="shipping_email" placeholder="Email"
                               value="{{ shipping_email|default_if_none:'' }}"required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="shipping_address1" placeholder="Address Line 1"
                               value="{{ shipping_address1|default_if_none:'' }}"required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="shipping_address2" placeholder="Address Line 2 (Optional)"
                               value="{{ shipping_address2|default_if_none:'' }}">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="shipping_city" placeholder="City"
                               value="{{ shipping_city|default_if_none:'' }}"required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="shipping_state" placeholder="State (Optional)"
                               value="{{ shipping_state|default_if_none:'' }}">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="shipping_zipcode" placeholder="Zipcode (Optional)"
                               value="{{ shipping_zipcode|default_if_none:'' }}">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="shipping_country" placeholder="Country"
                               value="{{ shipping_country|default_if_none:'' }}"required>
                    </div>
                    <br/><br/>
                    <button type="submit" class="btn btn-secondary btn-success">Next</button>
                </form>

                <br/><br/><br/><br/><br/><br/><br/><br/>
            </div>
        </center>
    </div>
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
{% endblock %}