{% extends 'store/base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update Password</h1>
            <p class="lead fw-normal text-white-50 mb-0">Please enter your password...</details>...</p>
        </div>
    </div>
</header>
<!-- Search form -->
<div class="d-flex justify-content-center mt-4">
    <form class="form-group"  method="POST">
        {% csrf_token %}
        <input class="form-control mb-2" style="width: 300px;" type="password" placeholder="Previous Password" aria-label="Search" name="previous_password">
        <br>
        <input class="form-control mb-2" style="width: 300px;" type="password" placeholder="New-Password" aria-label="Search" name="new_password">
        <br>
        <input class="form-control mb-2" style="width: 300px;" type="password" placeholder="Confirm-Password" aria-label="Search" name="confirm_password">
        <br>
        <button class="btn btn-outline-dark d-block mx-auto" type="submit">Update</button>
    </form>
</div>
{%endblock%}