{%extends 'store/base.html'%}
{%block content%}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Sign Up</h1>
            <p class="lead fw-normal text-white-50 mb-0">Register your account</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br /><br />
                <form method="POST" action="{%url 'customer_signup'%}">
                    {%csrf_token%}
                        <input type="text" class="form-control" name="username" placeholder="Username"
                            value="{{ username|default_if_none:'' }}">
                        <br />
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Password"
                            value="{{ password|default_if_none:'' }}">
                        <br />
                        <div class="mb-3">
                            <input type="password" class="form-control" name="confirm_password"
                                placeholder="Confirm Password">
                            <br />
                            <div class="mb-3">
                                <input type="email" class="form-control" name="email" placeholder="Email"
                                    value="{{ email|default_if_none:'' }}">
                                <br /> 
                                    <input type="text" class="form-control" name="address" placeholder="Address"
                                        value="{{ address|default_if_none:'' }}">
                                    <br />
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="captcha" placeholder="Captcha">
                                    <br />
                                    <img src="data:image/jpeg;base64,{{ captcha_image }}" alt="Captcha">
                                    <br />
                                </div>
                                <br /><br />
                                <button type="submit" class="btn btn-secondary">Register</button>
                </form>
                <br /><br />
                <br /><br />
                <br /><br />
                <br /><br />
            </div>
        </center>
    </div>
</div>

{%endblock%}