{% extends 'store/base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Seller Login</h1>
            <p class="lead fw-normal text-white-50 mb-0">Login to your account</p>
        </div>
    </div>
</header>
<div class="container mt-5">
    <div class="text-center">
        <img src="{{ MEDIA_URL }}/media/uploads/coming_soon.png" alt="Empty Cart" style="max-width: 100%; height: auto;">
    </div>
</div>        
{%endblock%}            